.App {
  text-align: center;
}

.section {
    padding: 20px;
}

.info {
    color: gray;
    font-size: 1em;
    padding-left: 100px;
    padding-right: 100px;
}

.main-title {
    padding-top: 150px;
    padding-bottom: 20px;
}

.tox{
    color: blue;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
  text-align: center;
}

.App-intro {
  font-size: large;
}

.bad {
  color: red;
}

.good {
  color: green;
}
